@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-position: center center;
    background-image: url(imagens/wallpaper003.jpg);
    background-repeat: repeat-y;
    width: auto;
    height: 98vh;
}

header {
    background-color: #fac3cc;
    text-align: center;
}

main {
    background-color: rgb(127, 248, 248);
    
    
}

p{
    text-align: justify;
}

main p {
   line-height: 1.7em;
}

.caixa2 > p {
    margin-top: 200px;
    width: 700px;
}

img {
    display: inline-block;
}

.caixa3 {
    margin-top: 300px;
}